<h2>Booking Successful</h2>
<div class="container">
  <div class="img__container">
    <img
      src="https://media.istockphoto.com/id/1369010141/vector/%C3%B0%C3%B1%C3%B0%C3%B0%C3%B0%C3%B0%C3%B1%C3%B0%C2%B5-rgb.jpg?s=612x612&w=0&k=20&c=CfT7y0Wo0dnEf6dWZ3QdM6X3M2S8_iAcR0_CCT7kPGE="
      alt="Booking Successful" />
  </div>
  <div class="content">
    <!-- <h2>Booking Successful</h2> -->
    <p>{{ticketDetails.movieName}}</p>
    <p><i><u>{{ticketDetails.theatreName}}</u></i></p>
    <p>Number of Seats: {{ticketDetails.noOfSeats}}</p>
    <p>Seat Numbers: {{ticketDetails.bookedSeats}}</p>
    <button class="btn btn-danger" routerLink="/movies">Back</button>
  </div>
</div>