<div class="forgotpassword-form">

  <form class="form-signin" autocomplete="off" [formGroup]="this.form">
    <div class="container-fluid">
      <h2 class="form-signin-heading">Forgot Password</h2>
      <div class="form-group mt-2">

        <input class="form-control" placeholder="Username*" id="loginid" type="text" name="loginid"
          formControlName="loginId" />
        <div *ngIf="this.form.get('loginId')?.touched && this.form.get('loginId')?.errors">
          <span class="error-message">Username is mandatory</span>
        </div>
      </div>

      <div class="form-group mt-2">
        <input class="form-control" placeholder="Password*" id="password" type="password" name="newPassword"
          formControlName="newPassword" />
        <div *ngIf="this.form.get('newPassword')?.touched && this.form.get('newPassword')?.errors">
          <span class="error-message">New password is mandatory</span>
        </div>
      </div>

      <div class="form-group mt-2">
        <input class="form-control" placeholder="Confirm Password*" id="confirmpassword" type="password"
          name="confirmNewPassword" formControlName="confirmNewPassword" />
        <div *ngIf="this.form.get('confirmNewPassword')?.touched && this.form.get('confirmNewPassword')?.errors">
          <span class="error-message">Confirm New Password is mandatory</span>
        </div>
      </div>

      <button [disabled]="form.invalid" (click)="this.onSubmit()">Reset Password</button>
    </div>
  </form>
</div>