<nav class="navbar">
  <div class="container">
    <a routerLink="/movies" class="navbar-brand">MOVIE BOOKING APP</a>

    <div>
      <button *ngIf="!service.status()" routerLink="/login">Sign In</button>
      <button *ngIf="!service.status()" routerLink="/register">Register</button>
    </div>

    <div class="dropdown" *ngIf="service.status()" ngbDropdown>
      <a style="text-decoration:none; color: #002447;" class="dropdown-toggle" ngbDropdownToggle>Welcome
        {{service.username|titlecase}}</a>
      <div class="dropdown-menu mt-3" ngbDropdownMenu>
        <a ngbDropdownItem class="dropdown-item" routerLink="/mytickets">My
          Tickets</a>
        <div class="dropdown-divider"></div>
        <a ngbDropdownItem class="dropdown-item" (click)="onLogout()">Logout</a>
      </div>
    </div>
  </div>

</nav>
<!-- (click)="onLogout()" -->